.switch {
  display: flex;
  font-size: 1.9rem;
  transition: opacity 0.2s;
  position: relative;
  justify-content: center;

  label {
    padding: var(--size-spacing-1);
    border: 1px solid transparent;
    @media (hover: hover) {
      &:hover {
        border: 1px solid var(--color-accent);
        cursor: pointer;
      }
    }
  }
  input {
    display: none;
  }
}
